export(calculate_error)
export(find_best_selection)
export(find_best_selection_SA)
export(plotTries)
export(random_panel_selection)
export(run_parallel)
export(run_parallel_SA)
export(run_serial)
export(selection_for_area)
